body {
    background-color: orange;
    color: black;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}

header {
    border-bottom: solid 4px blue;
    padding: 20px;
    font-size: 44px;
    color: blue (42, 122, 288);
}